#feedbackForm input {
  border: 0px !important;
}

#feedbackForm textarea {
  background-color: #FAFAFA;
  border: 1px solid #DDDBDB;

  @media screen and (min-width: 40em) {
    background-color: #ffffff;
    border: 0px !important;
  }
}

.form-container {
  background-color: #ffffff;

  @media screen and (min-width: 40em) {
    background-color: $LIGHT_GREY;
  }
}

#feedbackForm textarea {
  height: 245px;
  max-width: 845px;
  margin: 0 auto;
}

button.submit {
    display: inline-block;
    text-align: left;
    margin: 45px 0 30px 0;
}
