* {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.light-grey {
    background-color: $LIGHT_GREY;
}

.row {
  padding-left:15px;
  padding-right:15px;

  @media screen and (min-width: 1200px) {
    padding-left:0px;
    padding-right:0px;
  }
}

/* Header */
header {
    position: fixed;
    display: block;
    padding: 15px 20px;
    width: 100%;
    height: 75px;
    right: auto;
    left: auto;
    background: #fff;
    z-index: 10000;
    box-shadow: 0 0 14px 0 rgba(0,0,0,0.20);
}

#nav-wrapper {
  @include clearfix;
}

#main-nav {
    position: fixed;
    top: 0;
    width: 100%;
    right: 0;
    height: 100vh;
    background: rgba(60,60,60,0.95);
    z-index: 10005;
    @media screen and (min-width: 40em) {
        width: 400px;
        z-index: 10005;
    }
}

#main-nav.inactive {
    right: -100%;
    @media screen and (min-width: 40em) {
        right: -400px;
    }
}

#nav-header {
    position: relative;
    background: rgba(60,60,60,1);
    padding: 20px 30px;
    width: 100%;
}

#close-nav {
    position: absolute;
    right: 0;
    top: 0;
    width: 84px;
    height: 100%;
    text-align: center;
    line-height: 2.5;
    vertical-align: middle;
    color: #fff;
    font-size: 25px;
    cursor: pointer;

    svg {
      position: absolute;
      top:50%;
      right: 50%;
      margin-right: -13px;
      margin-top: -13px;
      transition: all 0.3s ease-in-out;

      &:hover, &:focus {
        transform: rotate(180deg);
      }
    }
}

#nav-menu {
    padding: 20px;

    a {
        color: #DDDBDB;
        font-size: 16px;
        padding: 10px 0px;
        transition: 0.3s ease-in-out;
        display: inline-block;
        position: relative;

        @media screen and (min-width: 40em) {
          font-size: 24px;
          padding: 16px 0px;
        }

        &:hover, &:focus {
          color:#FFFFFF;
        }

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background-color: transparent;
            position: absolute;
            bottom: 3px;
            left: 0;
            transition: all 0.25s ease-in-out 0.1s;
            transform: scaleX(0);
        }

        &.active::after {
            background-color: #FCB718;
            transform: scaleX(1);
        }
    }
}

.logo-compact {
    color: $BRAND_YELLOW;
    font-size: 25px;
    line-height: 1;
    display: inline-block;
    transition: all 0.3s ease-in-out;

    svg #Logo-Ampersand {
      transition: all 0.2s ease-in-out;
    }

    &:hover svg #Logo-Ampersand, &:focus svg #Logo-Ampersand {
      fill:#fff;
    }


}

#logo-section {
    display: inline-block;
    color: #eee;

    .logo {
        color: $BRAND_YELLOW;
        display: inline-block;

        svg {
            width: 160px;
            height: 41px;
            @media screen and (min-width: 40em) {
                width: 204px;
                height: 36px;
            }
        }
    }

    .property-address {
        color: #9B9797;
        display: block;
        position: relative;
        top: 0;
        font-size: 16px;
        display: none;
        @media screen and (min-width: 40em) {
            display: inline-block;
            font-size: 19px;
            top: -6px;
            margin-left: 15px;
        }
    }
}

#nav-toggle {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    svg {
        width: 35px;
        height: 35px;
    }

    .bar {
      transition: all 0.2s ease-in-out;
    }

    &:hover, &:focus {
      .bar:nth-of-type(1) {
        transform: translateY(-4px);
      }
      .bar:nth-of-type(3) {
        transform: translateY(4px);
      }
    }
}

#nav-utilities {
    position: absolute;
    width: 100%;
    bottom: 0;

    .menu {
        width: 100%;
        display: block;
        font-size: 0;
        position: relative;
        background: #454545;
    }

    .menu li {
      font-size: 16px;
      text-align: center;
      width: 50%;
      display: inline-block;
      margin: 0;
      background: #3c3c3c;
      border: 1px solid rgba(60, 60, 60, 0.95);

        &:last-of-type {
          position: relative;
          right: -2px;
        }

        a {
            color: #fff;
            padding: 20px 10px 20px 50px;
            border-left: 1px solid rgba(60, 60, 60, 0.9);
            height: 70px;
            border-left: 1px solid rgba(60,60,60,0.9);
            margin: 0;
            font-family: "Work Sans", sans-serif;
            font-weight: 300;
            font-size: 24px;

            @media screen and (min-width: 40em) {
              padding: 40px 10px 40px 50px;
              height: 110px;
            }
        }
    }
}
/* Sections */
.main-container {
    position: relative;
    top: 74px;
}

section {
    padding: 75px 0;
}

.line {
    width: 180px;
    height: 2px;
    background: $BRAND_YELLOW;
    position: absolute;
    display: none;
    @media screen and (min-width: 40em) {
        display: block;
    }
}

#hero {
    background-color: #ffffff;
    padding-top: 0px;
    padding-bottom: 30px;

    @media screen and (min-width: 40em) {
        padding-top: 75px;
        padding-bottom: 85px;
        background-color: $LIGHT_GREY;
    }

    .row {
        position: relative;
        padding: 0;

        @media screen and (min-width: 40em) {
          padding-left: 15px;
          padding-right: 15px;
        }
    }

    .line {
        top: 60px;
        right: 0;
        transform-origin: left;
    }

    h1 {
        font-family: "Work Sans", sans-serif;
        font-weight: 200;
        font-size: 34px;
        color: #3C3C3D;
        letter-spacing: 1px;
        line-height: 1.1;
        background: #fff;
        padding: 0px;
        display: block;
        width: 100%;
        text-align: center;
        padding: 0px 15px;

        @media screen and (min-width: 40em) {
            font-size: 54px;
            line-height: 56px;
            display: inline-block;
            width: 580px;
            margin-top: -8%;
            padding: 20px;
            text-align: left;
        }
    }

    h3 {
        position: static;
        text-transform: uppercase;
        font-family: "Work Sans", sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #3C3C3D;
        letter-spacing: 4px;
        margin-top: 20px;
        padding: 5px 30px;
        text-align: center;

        @media screen and (min-width: 40em) {
            font-size: 21px;
            position: absolute;
            right: 20px;
            padding: 0px;
            margin-top: 120px;
            text-align: left;
        }

        @media screen and (min-width: 60em) {
            margin-top: 80px;
        }
    }

    img {
        display: block;
        vertical-align: middle;
        max-width: 100%;
        height: auto;
        -ms-interpolation-mode: bicubic;
        margin-left: auto;
        margin-right: auto;
    }
}

#agent-profile {
    position: relative;
    padding-top: 25px;
    @media screen and (min-width: 40em) {
        padding: 130px 0;
    }
    @media screen and (min-width: 64em) {
        padding: 140px 0;
    }

    .line {
        left: 34%;
        top: 122px;
        z-index: 4;
        transform-origin: right;

        @media screen and (min-width: 64em) {
            left: 30%;
        }
        @media screen and (min-width: 75em) {
            left: 33%;
        }
        @media screen and (min-width: 1000px) {
            left: 36%;
        }
        @media screen and (min-width: 1600px) {
            left: 38%;
        }
        @media screen and (min-width: 1800px) {
            left: 41%;
        }
        @media screen and (min-width: 1970px) {
            left: 42%;
        }
        @media screen and (min-width: 2260px) {
            left: 43%;
        }
        @media screen and (min-width: 2000px) {}
        @media screen and (min-width: 2400px) {}
    }
}

.agent-photo {
      padding: 0;
      z-index: 3;
      width: 80%;
      margin: 0 auto;
      float: none;
    img {
        width: 100%;
    }
    @media screen and (min-width: 40em) {
        position: absolute;
        top: 70px;
        width: 44%;
        float: left;
    }
    @media screen and (min-width: 1250px) {
        width: 40%;
    }
    @media screen and (min-width: 1390px) {
        width: 35%;
    }
    @media screen and (min-width: 1600px) {
        width: 32%;
    }
    @media screen and (min-width: 1800px) {
        width: 28%;
    }
    @media screen and (min-width: 1970px) {
        width: 24%;
    }
    @media screen and (min-width: 2260px) {
        width: 21%;
    }
}

.agent-caption {
    text-align: center;
    padding: 20px 0;

    @media screen and (min-width: 40em) {
      text-align: right;
    }
}

.info-panel {
    padding: 0px;
    background-color: #ffffff;

    @media screen and (min-width: 40em) {
        padding: 30px;
        background-color: $LIGHT_GREY;
    }
}

.agent-info {
    @media screen and (min-width: 40em) {
        padding-left: 25%;
    }
    @media screen and (min-width: 64em) {
        padding-left: 22%;
    }
}

#videos {
  background-color: $LIGHT_GREY;
  @media screen and (min-width: 40em) {
      background-color: #ffffff;
  }
}

.flexcontainer {
    display: block;
    @media screen and (min-width: 40em) {
        height: 400px;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: right;
        width: 100%;
        padding: 10px;
    }
}

.single {
    display: block;
    background-color: #000;
    @media screen and (min-width: 40em) {
        height: auto;
        flex: 0 0 65%;
        background-color: #000;
    }
}

.two-row {
    display: block;
    height: 100%;
    padding: 0;

    @media screen and (min-width: 40em) {
      height: 100%;
      flex: 0 0 35%;
      padding: 0 0 0 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
}

.two-row.column > .one-row {
    height: 48%;
    margin: 7px 0px;
    @media screen and (min-width: 40em) {
      flex: 0 0 48%;
      margin: 0px;
    }
}

.video-container {
  height: 0;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;

  iframe,
  object,
  embed,
  img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.video-thumb {
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.thumb-overlay {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background: rgba(0,0,0,0.6);

  span {
    color:#fff;
    text-transform: uppercase;
    text-align: center;
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 1.6px;
    display: block;
    width: 100%;
    position: absolute;
    top:50%;
    margin-top: -12px;
  }
}

.video-thumb img {
  object-fit: fill;
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  cursor:pointer;
}

#your-team {
    position: static;
    padding-top: 0px;

    &:after {
        content: "";
        display: table;
        clear: both;
    }

    @media screen and (min-width: 40em) {
      padding-top: 75px;
    }
}

#your-team .row {
    position: relative;
    padding: 0;

    &:after {
        content: "";
        display: table;
        clear: both;
    }

    @media screen and (min-width: 40em) {
      padding-left: 15px;
      padding-right: 15px;
    }
}

.team-photo {
    padding: 0;
    float: none;
    @media screen and (min-width: 40em) {
        position: relative;
        z-index: 1;
        top: 0;
        right: 0;
        padding: 0;
        float: right !important;
    }

    img {
      width: 100%;

      @media screen and (min-width: 40em) {
        width: auto;
      }
    }
}

.team-panel {
    float: none;
    padding-right: 15px;
    padding-left: 15px;
    @media screen and (min-width: 40em) {
        padding-right: 120px;
        padding-left: 35px;
        padding-bottom: 45px;
        position: relative;
        z-index: 0;
        top: -160px;
        float: left !important;
    }
}

#your-market {
  padding-top: 0;

  @media screen and (min-width: 40em) {
    padding-top: 75px;
  }

  .row {
      position: relative;
      padding: 0;

      @media screen and (min-width: 40em) {
        padding-left: 15px;
        padding-right: 15px;
      }
  }

  .market-panel {
      float: none;
      padding: 15px;

      @media screen and (min-width: 40em) {
          padding: 200px 80px 80px;
          position: relative;
          z-index: 0;
          top: -160px;
          float: right !important;
          right: 0px;
      }

      @media screen and (min-width: 1200em) {
          right: 0px;
      }
  }
}



.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);

    margin: 50px auto;

    @media screen and (min-width: 40em) {
      max-width: 80%;
      box-shadow: none !important;
    }

    h3 {
        background-repeat: no-repeat;;
        background-position: 50% 0%;
    }
}

.icon-card {
    background: #fff;
    width: 100%;
    margin: 0px;
    position: relative;
    padding: 20px 25px;
    box-shadow: none;
    border-bottom: 1px solid #eee;
    min-height: 112px;

    @media screen and (min-width: 40em) {
        min-width: auto;
        width: 45%;
        min-height: 340px;
        margin: 5px 0px;
        margin: 5px;
        padding: 25px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    }

    @media screen and (min-width: 60em) {
        min-width: 235px;
        width: 30%;
        min-height: 340px;
    }

    .card-icon {
        display: inline-block;
        margin: 0px auto;
        width: 50px;
        position: absolute;
        left:25px;
        top:50%;
        transform: translateY(-50%);

        @media screen and (min-width: 40em) {
          position: static;
          display: block;
          margin: 10px auto;
          width: auto;
          transform: none;
        }
    }

    h3 {
        font-family: "Work Sans", sans-serif;
        font-weight: 200;
        font-size: 18px;
        color: #45484D;
        letter-spacing: 1px;
        line-height: 1.2;
        margin-left: 70px;
        display: inline-block;
        width: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        @media screen and (min-width: 40em) {
            text-align: center;
            width: 100%;
            left:0;
            line-height: 28px;
            padding: 30px;
            padding-top: 0px;
            font-size: 24px;
            display: block;
            margin-left: 0;
            top: 60%;
            text-align: center;
        }

        @media screen and (min-width: 60em) {
            padding-top: 20px;
        }
    }

    a {
        font-family: "Work Sans", sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: $BRAND_YELLOW;
        letter-spacing: 2px;
        text-transform: uppercase;
        line-height: 2;
        position: absolute;
        bottom: 50%;
        transform: translateY(50%);
        right:30px;
        display: block;
        width: 40px;
        height: 40px;
        text-align: right;

        @media screen and (min-width: 40em) {
          bottom: 30px;
          left:0;
          width: 100%;
          height: auto;
          text-align: center;
        }
    }
}

.market-map {
    padding: 0;
    float: none;
    width: 100%;

    @media screen and (min-width: 40em) {
        position: relative;
        z-index: 1;
        top: 0;
        left: 0;
        padding: 0;
        float: left !important;
    }

    img {
      width: 100%;

      @media screen and (min-width: 40em) {
        width: auto;
      }
    }
}



#suburb-profile {
  padding: 75px 0 145px 0;

  @media screen and (min-width: 40em) {
    padding: 75px 0;
  }


}

#compare-property .row, #suburb-profile .row {
  position: relative;
}

#compare-property-nav, .tab-menu {
  text-align: center;
  margin: 45px 0px 30px 0px;


  @media screen and (min-width: 1100px) {
    margin: 0px 0px 30px 0px;
    position: absolute;
    right: 15px;
    top: 0px;
  }
}

#compare-property-nav ul, .tab-menu ul {
  margin: 15px auto;
  @include unlistNav();

  li {
    margin: 0 5px;

    @media screen and (min-width: 1100px) {
        margin: 0 15px;
    }
  }
}

#suburb-profile-nav {
  @media screen and (max-width: 39.999999em) {
    margin-bottom: 0;
  }

  ul {
    @media screen and (max-width: 39.999999em) {
      background-color: #333434;
      margin-bottom: 0;
      text-align: right;
      padding: 15px 15px 0px 0px;
    }
  }

  li {
    margin-right: 15px;
  }

  a {
    @media screen and (max-width: 39.999999em) {
      padding-bottom: 15px;
      color: #fff;
    }
  }
}

#the-process-nav.tab-menu ul li {
  @media screen and (max-width: 39.999999em) {
    width: 19%;
    text-align: center;
    margin: 0 6px;
    line-height: 1.3;
  }
  margin: 0 15px;


}

#compare-property-nav li a, .tab-menu li a {
  display: block;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #9B9797;
  letter-spacing: 0;
  transition: all 0.3s;
  padding: 0;
  padding-bottom: 5px;
  width: 100%;
  position: relative;

  &::after {
    content:'';
    display: block;
    width:100%;
    height:2px;
    background-color: rgba(0,0,0,0);
    position: absolute;
    bottom:0;
    left:0;
    transition: all 0.25s ease-in-out;
    transform: scaleX(0);
  }


  &:hover, &:focus {
    color: lighten($TYPE_GREY, 20);
    transition: all 0.3s;
  }

  &.current {
    color: $DARK_GREY;
    // border-bottom: 2px solid rgba(0,0,0,0);
    // border-color: $BRAND_YELLOW;

    &::after {
      background-color: $BRAND_YELLOW;
      transition: all 0.25s ease-in-out;
      transform: scaleX(1);
    }
  }

  @media screen and (min-width: 40em) {
    font-size: 18px;
  }
}

#compare-property .panels, #suburb-profile .panels {
  @include clearfix;
  @media screen and (min-width: 1100px) {
      margin-top: 45px;
  }
}

#suburb-profile .row {
  @include clearfix;
  position: relative;
}

.panel {
  display: none;
  opacity:0;
  @include clearfix;

  .column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
      float: left;
  }
}

.card-section span {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #3C3C3D;
  letter-spacing: 0;
  display: inline-block;
  margin-right: 20px;
  padding-right: 30px;
  background-repeat: no-repeat;
  background-position: 100% 53%;
}

.bedrooms {
  background-image: url('../img/icons/bed.svg');
}

.bathrooms {
  background-image: url('../img/icons/bath.svg');
}

.parking {
  background-image: url('../img/icons/car.svg');
  background-position: 100% 65% !important;
}

.price {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #3C3C3D;
  letter-spacing: 0;
  margin: 3px 0px 0px 0px;
}

.address {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #3C3C3D;
  letter-spacing: 0;
}

#profile-chart-units {
  display: block;
  opacity: 0;
}

.panel.current {
  display: block;
  opacity: 1;
}

.card {
  border: none;
  margin-bottom: 30px;

  img {
    width: 100%;
  }
}

.bx-wrapper {
  background: none;
  box-shadow: none;
  border: none;
}

/* Suburb stats/profile */

#profile-chart, #profile-chart-units-panel {
  @include clearfix;
  padding: 0px;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @media screen and (min-width: 40em) {
    height: 600px;
  }

}

.data-table {
  background-color: $DARK_GREY;
  padding: 15px;
  height: 90%;

  @media screen and (min-width: 60em) {
      margin-top: 0;
      width: 49.5%;
      height: 90%;
  }


  .table-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    padding: 5px 0px;


    @media screen and (min-width: 40em) {
      padding: 15px;
    }



    &.header-row {
      //background-color: $primaryColor;

      .item {
        flex-grow: 2;
        color: #fff;

        &:nth-of-type(1) {
          flex-grow: 2;
        }

        &:nth-of-type(2),
        &:nth-of-type(3) {
          flex-grow: 2;
        }
      }
    }

    &.main-row {

      &:first-of-type {
        border: 0;
      }

      .item {
        flex-grow: 2;

        &:nth-of-type(1){
          flex-grow: 3;

        }

        &:nth-of-type(2),
        &:nth-of-type(3) {
          flex-grow: 3;
        }

        &:last-of-type {
          text-align: right;
        }
      }
    }

    &.info-row {
      display: none;
      // border-top: dashed 1px $lightColor;
      // background-color: lighten($lightColor, 5%);

      .item {
        flex-grow: 1;
      }
    }
  }

  .item {
    flex: 1;
    padding: 10px;
    text-align: left;
    color: #fff;
  }
}

#profile-chart-graph , #profile-chart-graph-units{
  margin-top: 15px;
  padding: 0px;
  height: 100%;
  position: relative;
  background: #F7F7F7;

  @media screen and (min-width: 60em) {
      margin-top: 0;
      width: 49%;
      height: 90%;
  }

  @media screen and (min-width: 1200em) {
      margin-top: 0;
      padding: 0 0 0 15px;
  }
}

.data-graph {
  @media screen and (min-width: 60em) {
    float: right !important;
  }
}

canvas#median-price-chart, canvas#median-price-chart-units {
  padding: 15px 15px;
  background: #F7F7F7;
  max-height: 500px !important;

  @media screen and (min-width: 60em) {
    max-width: 588px;
  }
}

.chart-heading {
  background: $DARK_GREY;
  color: #fff;
  padding: 20px;
  position: absolute;
  bottom: -70px;
  width:100%;

  @media screen and (min-width: 60em) {
    bottom: 0;
  }
}

.chart-meta {
  display: inline-block;
  text-align: left;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 1.3;
  color: #FFFFFF;
  letter-spacing: 2px;

  @media screen and (min-width: 40em) {
    font-size: 14px;
  }
}

.chart-meta-title {
  display: block;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

.chart-value {
  display: inline-block;
  position: absolute;
  right:20px !important;
  top:14px;
  text-align: right;
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
  font-size: 30px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 1.3;

  @media screen and (min-width: 40em) {
    font-size: 48px;
    top:8px;
  }
}

#the-process .row {
  position: relative;
}

.form-container {
  padding: 30px;
  text-align: center;
}

#questions-feedback {
  padding: 0px 0 200px 0;

  @media screen and (min-width: 40em) {
    padding: 100px 0 200px 0;
  }

  .row {
    padding: 0;
    @media screen and (min-width: 40em) {
      padding: 0 15px 0 15px;
    }
  }
}

.form-intro {
    width: 100%;
    margin: 30px auto;

    @media screen and (min-width: 40em){
      margin: 30px auto;
      width: 70%;
    }

    h2 {
      text-align: left;
      padding-left: 0;

      @media screen and (min-width: 40em){
        text-align: center;
      }
    }

    p {
      font-family: "Work Sans", sans-serif;
      font-weight: 200;
      font-size: 16px;
      color: #3C3C3D;
      letter-spacing: 0;
      line-height: 1.6;
      text-align: left;

      @media screen and (min-width: 40em){
        text-align: center;
      }
    }
}

footer {
  background: $DARK_GREY;
  padding: 50px 15px;

  .row {
    position: relative;
  }

  .logo {
    display: block;
    text-align: center;
    max-width: 200px;
    margin: 60px auto 30px auto;

    @media screen and (min-width: 40em){
      width: 325px;
    }

    svg {
      width: 100%;
    }
  }
}




/* Modal windows */

.modal {
  position: fixed;
  top:0;
  left: 0;
  //right:0;
  height:100%;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  z-index: 20000;
  overflow: scroll;
  opacity: 0;
  visibility: hidden;

  @media screen and (min-width: 40em) {
    padding: 20px;
  }
}

.modal-wrapper {
  padding: 20px 10px;

  @media screen and (min-width: 40em) {
    padding: 30px 15px;
  }
}

.modal-header {
  width:100%;
  padding: 0px 20px 20px 20px;
  position: relative;

  @media screen and (min-width: 40em) {

  }

  .back-to-main {
      display: inline-block;
      position: absolute;
      top: 4px;
      left:0;
      transition: all 0.2s ease-in-out;
      width: 30px;

      &:hover, &:focus {
        left:-7px;
      }

      @media screen and (min-width: 40em) {
        width: 38px;
      }
  }

  .logo-compact {
    position: relative;

    svg {
      width: 28px;

      @media screen and (min-width: 40em){
        width: 38px;
      }

      #Logo-Ampersand2 {
        transition: all 0.2s ease-in-out;
      }
    }

    &:hover svg #Logo-Ampersand2 {
      fill:$DARK_GREY;
    }

    &::before {
      content:"";
      position: absolute;
      right:37px;
      width: 1px;
      height: 100%;
      background: #DDDBDB;

      @media screen and (min-width: 40em){
        right:60px;
      }

    }
  }


}

.modal-header-content {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    @include clearfix;
}

.modal-name {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #666363;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: absolute;
  right: 45px;
  top: 9px;
  display: block;
  width: 200px;
  text-align: right;

  @media screen and (min-width: 40em){
    font-size: 16px;
    letter-spacing: 2px;
    right: 80px;
    top: 9px;
    display: block;
    width: 200px;
    text-align: right;
  }
}



.header-meta {
  max-width: 80%;
  float: right;
  position: relative;
}


.modal-hero {
  margin-top: 30px;
  padding: 0 7px 7px 0;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    border: 7px solid #EBE9E9;
    width: 100%;
    height: 100%;
    border-top: none;
    border-left: none;
  }

  @media screen and (min-width: 40em){
    padding: 0 15px 15px 0;

    &::before {
      content: "";
      position: absolute;
      top: 100px;
      right: -100px;
      width: 200px;
      height: 2px;
      background: $BRAND_YELLOW;
      z-index: 3;
    }
  }

  img {
    width: 100%;
    margin: 0 auto;
  }
}

.modal-content {
  margin-top: 60px;

  @media screen and (min-width: 60em) {
    padding: 20px;
  }

  @media screen and (min-width: 60em) {
    padding: 20px 100px;
  }

  .back-to-main {
    margin-top: 45px;
    display: inline-block;
  }
}

.team-photos {
  @include unlistNav;
  margin: 40px 0;

  li {
    padding: 5px;
    width: 48%;

    @media screen and (min-width: 60em) {
      width: 23%;
    }
  }

  img {
    width: 100%;
  }
}
