@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700');

h1 {
  font-family: WorkSans-ExtraLight;
  font-size: 44px;
  color: #3C3C3D;
  letter-spacing: 1px;
  line-height: 1.1;
  margin-bottom: 30px;
}

h2 {
    font-family: WorkSans-ExtraLight;
    font-size: 44px;
    color: #221F20;
    letter-spacing: 0.3px;
    padding-left: 10px;
    line-height: 1;
    margin-bottom: 20px;
}

h4 {
    font-family: WorkSans-Medium;
    font-size: 16px;
    color: #221F20;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

p {
    font-family: WorkSans-Light;
    font-size: 16px;
    color: #666363;
    letter-spacing: 0;
    line-height: 32px;
}

.info-panel {
    p {
        font-family: WorkSans-Light;
        font-size: 16px;
        color: #666363;
        letter-spacing: 0;
        line-height: 32px;
    }

    h2 {
      padding-left: 0;
      margin-bottom: 10px;
    }
}

.agent-caption {
    h5 {
        font-family: WorkSans-Medium;
        font-size: 18px;
        color: #FCB718;
        letter-spacing: 0;
        line-height: 1;
        margin-bottom: 10px;
    }

    p {
        font-family: WorkSans-Light;
        color: $DARK_GREY;
        line-height: 1;
        margin-bottom: 10px;
    }
}

#your-market {
  h2 {
    margin-bottom: 30px;
  }
}

#suburb-profile {
  h2 {
    font-family: WorkSans-Light;
    font-size: 40px;
    color: #FCB718;
    letter-spacing: 0;
  }

  h3 {
    font-family: WorkSans-SemiBold;
    text-transform: uppercase;
    font-size: 16px;
    color: #3C3C3D;
    letter-spacing: 0;
    padding-left: 10px;
  }
}
